#pathlib2
gitchangelog
twine

# source access to latest filefinder from git ...
-e git+https://github.com/asmodehn/filefinder2.git#egg=filefinder2
# currently satisfied by submodule
#-e git+https://github.com/asmodehn/rosimport.git#egg=rosimport
